      <article class="single-park">
          <div class="park-name"> <a href="/parks/{{{park_name}}}">{{{park_name}}} N.P.</a> </div>
		  <div class="park-content">
		  
			{{#each thumbnails}}
				<img class="photo_slot" src = {{this}}   alt= {{{park_name}}} {{{@index}}}. ></img>
			{{/each}}
			
			<div class="review-entry"> Review {{{park_name}}} N.P. 
			<div class="rating-buttons">
				<button type="button" class={{{park_name}}} id="1">1 Stars</button>
				<button type="button" class={{{park_name}}} id="2">2 Stars</button>
				<button type="button" class={{{park_name}}} id="3">3 Stars</button>
				<button type="button" class={{{park_name}}} id="4">4 Stars</button>
				<button type="button" class={{{park_name}}} id="5">5 Stars</button>
			</div>
			</div>
        </div>
      </article>