      <article class="single-park">
          <div class="park-name"> {{name}} </div>
		  <div class="park-content">
		  
		    <img class="photo_slot" src = {{thumb1}} alt= ({{name}} + "thumbnail 1") ></img>
			
			<img class="photo_slot" src = {{thumb1}} alt= ({{name}} + "thumbnail 2") ></img>
			
			<img class="photo_slot" src = {{thumb1}} alt= ({{name}} + "thumbnail 3") ></img>
			
			<img class="photo_slot" src = {{thumb1}} alt= ({{name}} + "thumbnail 4") ></img>
			
        </div>
      </article>